# MongoDB Connection String (Required for Production)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/chicago-delights?retryWrites=true&w=majority

# Port for the server to listen on (Render will automatically set this)
PORT=5000
